<% layout("/layouts/boilerplate") -%>

    <form method="GET" action="/listings/new">
        <button>Create a new listing </button>
    </form>
    <ul>
    <% for(let lis of allListing) {%>
        <li>
       <a href="/listing/<%=lis._id%>"  > <h3><%=lis.title%></h3></a> 
        </li>
          <%}%>
    </ul>
    
    

