<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <form method="POST" action="/listing">
    <input name="Listing[title]" placeholder="enter title">
    <br> <br><br>

    <textarea  name="Listing[description]" placeholder="enter description"></textarea>  <br> <br><br>
     <input name="Listing[price]" placeholder="enter price"><br> <br><br>
     <input name="Listing[image]" placeholder="enter url"> <br> <br><br>
    <input name="Listing[location]" placeholder="enter location"> <br> <br><br>
    <input name="Listing[country]" placeholder="enter country">

        
            <button>Add</button>
        </form>
      

    
</body>
</html>